.card {
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    margin-left: 5px;
    margin-right: 5px;
}

.img_card {
    max-width: 360px;
    max-height: 224px;
    margin: -50px 0 0 0;
}

.offer {
    position: relative;
    padding: 5px 10px 5px 10px;
    background-color: #D4302A;
    color: #FFFFFF;
    border-radius: 18px;
    width: 7rem;
    height: 2rem;
    text-align: center;
    position: relative;
    margin: 16px 0 0 16px;
}

.no_offer {
    height: 3rem;
}


.head_img_card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.share {
    width: 40px;
    height: 40px;
    background-size: 40px 40px;
    background-image: url("data:image/svg+xml;base64, PHN2ZyB3aWR0aD0iNDAiIGhlaWdodD0iNDAiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGNpcmNsZSBvcGFjaXR5PSIuNiIgY3g9IjIwIiBjeT0iMjAiIHI9IjIwIiBmaWxsPSIjMUYxRjFGIi8+PHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xNC42NDMgMTBoMTAuNzE0YzEuMTc5IDAgMi4xNDMgMSAyLjE0MyAyLjIyMlYzMEwyMCAyNi42NjcgMTIuNSAzMFYxMi4yMjJDMTIuNSAxMSAxMy40NjQgMTAgMTQuNjQzIDEwem0xMS4xOSAxNy4wODNWMTIuNjY3YTEgMSAwIDAwLTEtMWgtOS42NjZhMSAxIDAgMDAtMSAxdjE0LjQxNmw0Ljk4Ny0yLjQ2Ljg0Ni0uMzc4Ljg0Ni4zNzcgNC45ODcgMi40NjF6IiBmaWxsPSIjZmZmIi8+PC9zdmc+");
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 3;
    margin: 15px 10px 0 0;
    opacity: 1;
}

.rating_icon {
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    background-image: url("data:image/svg+xml;base64, PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTcuMDI2IDEwLjczN0gyLjk4OXYxMC4yNjFoNC4wMzd2LTEwLjI2eiIgZmlsbD0iI2ZmZiIvPjxwYXRoIGQ9Ik03LjgwNCAxMC43Mzd2OS40OTJsNS4zNSAxLjAzOCA4LjgtLjI2OS0uNDU3LTIuMDk3LjgzLTEuNDk0LjIwOC0yLjQ5LjMzMi00Ljg1Ny02LjgwNy0uNDE2LS42MjMtLjU4LS4yOS0yLjQ5MS0xLjA4LTMuNDQ2LTEuODY4LS4zNzNzLS45MTMgMy44MTktMS43NDMgNS45NzdjLS44MyAyLjE1OS0yLjY1MiAyLjAwNi0yLjY1MiAyLjAwNnoiIGZpbGw9IiNGREQyMUMiLz48cGF0aCBkPSJNMjMuNTIxIDE0LjA1NmMwLS41MTUtLjE5NC0uOTg5LS41MDYtMS4zNDMuNDg2LS4zNjQuODAzLS45NTguODAzLTEuNjE5IDAtMS4xMDktLjg4NS0yLjAxNC0xLjk4LTIuMDE0aC01Ljk1Yy4wNjItMS42OTItLjI0NS0zLjc5NS0uNjI0LTUuMDI0QzE0Ljg4NSAyLjgyOCAxMy43NzkgMiAxMi41MTQgMmExLjMzIDEuMzMgMCAwMC0uOTUxLjQwNmMtLjI1MS4yNi0uMzkuNjEtLjM4NC45NzMuMDE1IDEuMDgzLS4wNjIgMy4xMzQtLjc1MyA0LjY5LS44MTQgMS44MzMtMS42NzkgMi4zMjgtMi40NjcgMi40MzJhMS4yMSAxLjIxIDAgMDAtMS4xNDctLjgyOEgzLjIxM2MtLjY3IDAtMS4yMTMuNTUyLTEuMjEzIDEuMjM0djkuODZDMiAyMS40NDcgMi41NDMgMjIgMy4yMTMgMjJoMy42Yy42NTQgMCAxLjE4Ny0uNTMxIDEuMjEyLTEuMTg3aDEuMTMyYy43MzcgMCAxLjQ3NC4xODIgMi4xMjQuNTMxYTUuNTg1IDUuNTg1IDAgMDAyLjYxMS42NTZoNi40MmMxLjA5IDAgMS45OC0uOSAxLjk4LTIuMDE1IDAtLjQyMS0uMTI3LS44MTItLjM0Mi0xLjEzNGEyLjAxOSAyLjAxOSAwIDAwMS4xNTctMS44MjhjMC0uNDg5LS4xNzQtLjk0Mi0uNDYxLTEuMjkuNTI3LS4zNjUuODc1LS45OC44NzUtMS42Nzd6bS0xNi41NCA2LjcwNWEuMTcyLjE3MiAwIDAxLS4xNjkuMTcySDMuMjEzYS4xNzIuMTcyIDAgMDEtLjE2OS0uMTcydi05Ljg1NGMwLS4wOTQuMDc3LS4xNzIuMTctLjE3MmgzLjU5OGMuMDkyIDAgLjE2OS4wNzguMTY5LjE3MnY5Ljg1NHptMTQuMTQ0LTIuNzlIMTkuOTM4YS41MjkuNTI5IDAgMDAtLjUyMS41M2MwIC4yOTIuMjM1LjUzMi41MjIuNTMyaC4zNzljLjUxNyAwIC45MzYuNDI3LjkzNi45NTIgMCAuNTI2LS40Mi45NTMtLjkzNi45NTNoLTYuNDJhNC41MTQgNC41MTQgMCAwMS0yLjEyNC0uNTMgNS41ODUgNS41ODUgMCAwMC0yLjYxMS0uNjU3SDguMDN2LTguMTg4YzEuMDItLjExNSAyLjMwNC0uNjkzIDMuMzQ5LTMuMDU2Ljc3My0xLjc0NC44Ni0zLjk2Ny44NDQtNS4xMzggMC0uMDgzLjAzLS4xNTYuMDgyLS4yMTNhLjI4NC4yODQgMCAwMS4yMDUtLjA4OWMuODA5IDAgMS41MS41MjYgMS43NTYgMS4zMTIuMzk0IDEuMjcuNzAxIDMuNTYuNTQyIDUuMTg1YS41NDguNTQ4IDAgMDAuMTMzLjQxMWMuMDk4LjExLjI0MS4xNzcuMzkuMTc3aDYuNTA2Yy41MTcgMCAuOTM3LjQyNy45MzcuOTUzIDAgLjUyNS0uNDIuOTUyLS45MzcuOTUyaC0xLjkwNGEuNTI5LjUyOSAwIDAwLS41MjIuNTMxYzAgLjI5Mi4yMzUuNTMxLjUyMi41MzFoMS42MDdjLjUxNyAwIC45MzcuNDI3LjkzNy45NTNzLS40Mi45NTMtLjkzNy45NTNoLTEuNjA3YS41MjkuNTI5IDAgMDAtLjUyMi41M2MwIC4yOTIuMjM1LjUzMS41MjIuNTMxaDEuMTkyYy41MTcgMCAuOTM3LjQyNy45MzcuOTUzYS45NC45NCAwIDAxLS45MzcuOTMyeiIgZmlsbD0iIzQzNDM0MyIvPjxwYXRoIGQ9Ik01LjQ5OSAxOS41NjdhLjcwNi43MDYgMCAwMDAtLjk4Ni42NzguNjc4IDAgMDAtLjk3IDAgLjcwNi43MDYgMCAwMDAgLjk4Ni42NzguNjc4IDAgMDAuOTcgMHoiIGZpbGw9IiM0MzQzNDMiLz48L3N2Zz4=");
}

.rating_number {
    font-family: 'Roboto';
    font-size: 20px;
    margin: 0 5px 3px 5px;
}

.price_rating {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header_card {
    font-family: "Montserrat";
    font-size: 16px;
    margin-top: 20px;
    margin: 20px 10px 20px 0;
}

.price_card {
    font-family: "Montserrat";
    font-size: 16px;
}

.about_card {
    margin: 0 20px 20px 20px;
}

.card_details {
    font-size: 14px;
    color: #595959;
}

@media screen and (max-width: 400px) {
    .price_card {
        font-family: "Montserrat";
        font-size: 12px;
    } 
    
    .header_card {
        font-family: "Montserrat";
        font-size: 12px;
        margin-top: 10px;
        margin: 10px 5px 10px 0;
    }
    .ImgCard {
        width: 100% ;
    }
    .img_card {
        width: 100%;
    }
    .card {
        width: 90%;
    }
}