.footer {
    background-color: #F0F0F0;
}

.str_footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.inside_footer {
    padding: 70px 50px 50px 100px;
}

.header_footer {
    font-family: "Montserrat";
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 18px;
}

.subHeader_footer{
    font-family: 'Roboto';
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 7px;
}

.divider {
    max-width: 1120px;
    margin: 50px auto 0 auto;
    color: #D9D9D9;
    height: 1px;
}

.earth_icon {
    width: 24px;
    height: 24px;
    background-size: 24px 24px;
    background-image: url("data:image/svg+xml;base64, PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xMi4yNTYgMi4wMDNhMTAgMTAgMCAxMDAgMTkuOTkzIDEuNTU2IDEuNTU2IDAgMDAuMzM2LS4wMTMgMTAgMTAgMCAwMDAtMTkuOTY2IDEuNTgyIDEuNTgyIDAgMDAtLjMzNi0uMDE0em0uMDQxIDEuMjA2Yy4wNTEuMDAxLjEwMi4wMDQuMTUyLjAwNi4zOTguMDk1IDEuMDI0Ljc3OCAxLjU2NSAyLjE1NC4zMjkuODM4LjU4NyAxLjgxNC43NjcgMi44ODFoLTQuODVjLjE3OS0xLjA2Ny40MzctMi4wNDMuNzctMi44ODEuNTU3LTEuNDE1IDEuMjAyLTIuMDk2IDEuNTk2LTIuMTZ6TTguNzE0IDguMjVjLjMyOC0yLjA2My45MTktMy43ODQgMS42NjctNC44OTRBOC44MDYgOC44MDYgMCAwMDQuMDQ2IDguMjVoNC42Njh6bS01LjIxNiAxLjVoNS4wM2MtLjA2NS43MjMtLjEgMS40NzYtLjEgMi4yNXMuMDM1IDEuNTI3LjEgMi4yNUgzLjQ5NmE4Ljc5NiA4Ljc5NiAwIDAxLjAwMi00LjV6bTYuMjM4IDBoNS4yNGMuMDY5LjcyNi4xMDQgMS40OC4xMDQgMi4yNWEyNC4zIDI0LjMgMCAwMS0uMTAyIDIuMjVoLTUuMjRBMjMuOTcgMjMuOTcgMCAwMTkuNjM0IDEyYzAtLjc3LjAzNS0xLjUyNC4xMDItMi4yNXptNi40NSAwYy4wNjUuNzIzLjEgMS40NzYuMSAyLjI1cy0uMDM1IDEuNTI3LS4xIDIuMjVoNC4zMThhOC44MTIgOC44MTIgMCAwMDAtNC41aC00LjMxOHptMy43Ny0xLjVhOC43OTYgOC43OTYgMCAwMC01LjQ5NC00LjY5NUMxNS4xNSA0LjY2NyAxNS42OTIgNi4zMDcgMTYgOC4yNWgzLjk1N3ptLTEwLjAyMiA3LjVoNC44NWMtLjE4IDEuMDY3LS40MzggMi4wNDMtLjc3IDIuODgxLS41NDEgMS4zNzEtMS4xNjYgMi4wNTktMS41NjUgMi4xNTRhOC41OCA4LjU4IDAgMDEtLjE1Mi4wMDZjLS4zOTctLjA2NC0xLjA0LS43NDYtMS41OTYtMi4xNi0uMzI5LS44MzgtLjU4Ny0xLjgxNC0uNzY3LTIuODgxem0tMS4yMiAwaC00LjY3YTguOCA4LjggMCAwMDYuMzM4IDQuODk2Yy0uNzQ5LTEuMTEtMS4zNC0yLjgzMi0xLjY2OC00Ljg5NnptMTEuMjQzIDBIMTZjLS4zMDkgMS45NDMtLjg1IDMuNTgzLTEuNTM4IDQuNjk1YTguNzk3IDguNzk3IDAgMDA1LjQ5NS00LjY5NXoiIGZpbGw9IiM0MzQzNDMiLz48L3N2Zz4=");
}

.earth {
    margin-right: 20px;
    display: flex;
    flex-direction: row;
}

.earth_text {
    border-bottom: 0.5px solid #000000;
}

.footer_bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.fb {
    margin-left: 5px;
    width: 24px;
    height: 24px;
    background-size: 24px 24px;
    background-image: url("data:image/svg+xml;base64, PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTI0IDEyYzAtNi42MjctNS4zNzMtMTItMTItMTJTMCA1LjM3MyAwIDEyYzAgNS45OSA0LjM4OCAxMC45NTQgMTAuMTI1IDExLjg1NFYxNS40N0g3LjA3OFYxMmgzLjA0N1Y5LjM1NmMwLTMuMDA3IDEuNzkyLTQuNjY4IDQuNTMzLTQuNjY4IDEuMzEyIDAgMi42ODYuMjM0IDIuNjg2LjIzNHYyLjk1M0gxNS44M2MtMS40OTEgMC0xLjk1Ni45MjUtMS45NTYgMS44NzVWMTJoMy4zMjhsLS41MzIgMy40NjloLTIuNzk2djguMzg1QzE5LjYxMiAyMi45NTQgMjQgMTcuOTkgMjQgMTJ6IiBmaWxsPSIjNDM0MzQzIi8+PC9zdmc+");
}

.inst {
    margin-left: 5px;
    width: 24px;
    height: 24px;
    background-size: 24px 24px;
    background-image: url("data:image/svg+xml;base64, PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEyIDIuMTZjMy4yMDYgMCAzLjU4Ni4wMTUgNC44NDcuMDcxIDEuMTcyLjA1MiAxLjgwNS4yNDkgMi4yMjYuNDEzYTMuNzEgMy43MSAwIDAxMS4zNzkuODk1Yy40MjEuNDIyLjY4LjgyLjg5NSAxLjM3OC4xNjQuNDIyLjM2IDEuMDYuNDEyIDIuMjI3LjA1NyAxLjI2NS4wNyAxLjY0NS4wNyA0Ljg0NyAwIDMuMjA2LS4wMTMgMy41ODYtLjA3IDQuODQ2LS4wNTEgMS4xNzItLjI0OCAxLjgwNS0uNDEyIDIuMjI3LS4yMTYuNTU4LS40NzguOTYxLS44OTUgMS4zNzhhMy42OSAzLjY5IDAgMDEtMS4zNzkuODk1Yy0uNDIxLjE2NS0xLjA1OS4zNjEtMi4yMjYuNDEzLTEuMjY2LjA1Ni0xLjY0NS4wNy00Ljg0Ny4wNy0zLjIwNiAwLTMuNTg2LS4wMTQtNC44NDctLjA3LTEuMTcyLS4wNTItMS44MDUtLjI0OC0yLjIyNi0uNDEzYTMuNzEgMy43MSAwIDAxLTEuMzc5LS44OTUgMy42OTEgMy42OTEgMCAwMS0uODk1LTEuMzc4Yy0uMTY0LS40MjItLjM2LTEuMDYtLjQxMi0yLjIyNy0uMDU3LTEuMjY1LS4wNy0xLjY0NS0uMDctNC44NDYgMC0zLjIwNy4wMTMtMy41ODYuMDctNC44NDcuMDUxLTEuMTcyLjI0OC0xLjgwNS40MTItMi4yMjcuMjE2LS41NTguNDc4LS45Ni44OTUtMS4zNzguNDIyLS40MjIuODItLjY4IDEuMzc5LS44OTUuNDIxLS4xNjQgMS4wNTktLjM2MSAyLjIyNi0uNDEzIDEuMjYxLS4wNTYgMS42NC0uMDcgNC44NDctLjA3ek0xMiAwQzguNzQyIDAgOC4zMzQuMDE0IDcuMDU1LjA3IDUuNzguMTI3IDQuOTAzLjMzMyA0LjE0NC42MjhhNS44NTcgNS44NTcgMCAwMC0yLjEyOCAxLjM4OEE1Ljg4IDUuODggMCAwMC42MjggNC4xMzlDLjMzMyA0LjkwMy4xMjcgNS43NzUuMDcgNy4wNS4wMTQgOC4zMzQgMCA4Ljc0MiAwIDEycy4wMTQgMy42NjYuMDcgNC45NDVjLjA1NyAxLjI3NS4yNjMgMi4xNTIuNTU4IDIuOTExLjMxLjc5Mi43MTcgMS40NjMgMS4zODggMi4xMjhhNS44NjYgNS44NjYgMCAwMDIuMTIzIDEuMzgzYy43NjQuMjk2IDEuNjM2LjUwMiAyLjkxMS41NTggMS4yOC4wNTYgMS42ODguMDcgNC45NDUuMDcgMy4yNTggMCAzLjY2Ni0uMDE0IDQuOTQ2LS4wNyAxLjI3NS0uMDU2IDIuMTUxLS4yNjIgMi45MS0uNTU4YTUuODY2IDUuODY2IDAgMDAyLjEyNC0xLjM4MyA1Ljg2NiA1Ljg2NiAwIDAwMS4zODMtMi4xMjNjLjI5NS0uNzY0LjUwMS0xLjYzNi41NTgtMi45MTEuMDU2LTEuMjguMDctMS42ODguMDctNC45NDUgMC0zLjI1OC0uMDE0LTMuNjY2LS4wNy00Ljk0Ni0uMDU3LTEuMjc1LS4yNjMtMi4xNTEtLjU1OC0yLjkxYTUuNjIgNS42MiAwIDAwLTEuMzc0LTIuMTMzQTUuODY2IDUuODY2IDAgMDAxOS44NjEuNjMzQzE5LjA5Ny4zMzggMTguMjI1LjEzIDE2Ljk1LjA3NSAxNS42NjYuMDE1IDE1LjI1OCAwIDEyIDB6IiBmaWxsPSIjNDM0MzQzIi8+PHBhdGggZD0iTTEyIDUuODM2QTYuMTY2IDYuMTY2IDAgMDA1LjgzNiAxMiA2LjE2NiA2LjE2NiAwIDAwMTIgMTguMTY0IDYuMTY2IDYuMTY2IDAgMDAxOC4xNjQgMTIgNi4xNjYgNi4xNjYgMCAwMDEyIDUuODM2em0wIDEwLjE2MkEzLjk5OSAzLjk5OSAwIDExMTIuMDAxIDggMy45OTkgMy45OTkgMCAwMTEyIDE1Ljk5OHpNMTkuODQ3IDUuNTkyYTEuNDQgMS40NCAwIDExLTIuODc5IDAgMS40NCAxLjQ0IDAgMDEyLjg3OSAweiIgZmlsbD0iIzQzNDM0MyIvPjwvc3ZnPg==");
}

.twitter {
    margin-left: 5px;
    width: 24px;
    height: 24px;
    background-size: 24px 24px;
    background-image: url("data:image/svg+xml;base64, PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgY2xpcC1wYXRoPSJ1cmwoI2NsaXAwKSI+PHBhdGggZD0iTTcuNTUgMjEuNzVjOS4wNTUgMCAxNC4wMDgtNy41MDMgMTQuMDA4LTE0LjAwOCAwLS4yMTEtLjAwNC0uNDI3LS4wMTQtLjYzOEExMCAxMCAwIDAwMjQgNC41NTVjLS44OTguNC0xLjg1LjY2LTIuODI2Ljc3NGE0Ljk1IDQuOTUgMCAwMDIuMTY1LTIuNzIzQTkuODk3IDkuODk3IDAgMDEyMC4yMTMgMy44YTQuOTMgNC45MyAwIDAwLTguMzk0IDQuNDlBMTMuOTg1IDEzLjk4NSAwIDAxMS42NzMgMy4xNWE0LjkzIDQuOTMgMCAwMDEuNTIzIDYuNTcgNC45MyA0LjkzIDAgMDEtMi4yMy0uNjE0di4wNmE0LjkyMiA0LjkyMiAwIDAwMy45NSA0LjgyOSA0Ljg5NSA0Ljg5NSAwIDAxLTIuMjIxLjA4NCA0LjkzNCA0LjkzNCAwIDAwNC41OTcgMy40MjJBOS44NzUgOS44NzUgMCAwMTAgMTkuNTM4YTEzLjk2OSAxMy45NjkgMCAwMDcuNTUgMi4yMTJ6IiBmaWxsPSIjNDM0MzQzIi8+PC9nPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxwYXRoIGZpbGw9IiNmZmYiIGQ9Ik0wIDBoMjR2MjRIMHoiLz48L2NsaXBQYXRoPjwvZGVmcz48L3N2Zz4=");
}

.right_bottom {
    display: flex;
    flex-direction: row;
}

.social_network {
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 500px) {
    .header_footer {
        font-size: 14px;
    }
    .inside_footer {
        padding: 20px 10px 20px 20px;
    }
    .subHeader_footer {
        font-size: 10px;
    }
}


