.top_menu {
    position: fixed;
    width: 90%;
    margin: -6rem auto 0 auto;
    z-index: 5;
}

.top_menu_plug {
    width: 75%;
    height: 6rem;
}

.main_part {
    max-width: 1120px;
    margin: 0 auto 0 auto;
}


@media screen and (max-width: 1440px){
    .top_menu {
        width: 95%;
    }
}

@media screen and (max-width: 1100px){
    .main_part {
        width: 80%;
        margin: 0 auto 0 auto;
    }
}

@media screen and (max-width: 740px){
    .main_part {
        width: 90%;
    }
}

@media screen and (max-width: 360px){
    .main_part {
        width: 80%;
        margin: 0 auto 0 auto;
    }
}

